<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <div class="modal fade" id="deleteModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title heading">Warning</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body subheading pb-0">
                    <div id="modal-desc"></div>
                </div>

                <div class="modal-footer">
                    <small id="modal-id" class="text-muted subheading"></small>
                    <a type="button" class="btn btn-custom2 btn-block" href="view_games_admin">Delete Game</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>