<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <div class="modal fade" id="deleteModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title heading">Warning</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <img src="" class="img-fluid" id="modal-img">

                <div class="modal-body subheading pb-0">
                    <p id="modal-desc">This game will be deleted. Proceed?</p>
                </div>

                <div class="modal-footer">
                    <small id="modal-id" class="text-muted subheading"></small>
                    <a type="button" class="btn btn-custom2 btn-block mb-0" href="">Yes, delete this game</a>
                    <button type="button" class="btn btn-custom btn-block" data-dismiss="modal">No, keep this game</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>