<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../css/footer.css">
</head>
<body>
    <a class="container-fluid subheading" id="footer">
        All Rights Reserved 2020
    </a>
    <script src="../../js/header_footer.js"></script>
</body>
</html>