<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../css/header.css">
    <script src="../../js/header_ready.js"></script>
</head>
<body>
    <div class="container fixed-top" id="header">
        <div style="height:42px" id="top"></div>
        <div class="row">
            <a class="col-4 pl-0 pr-0" id="logo-col" href="/homepage">
                <img src="../../media/Logo%20Circle.png" class="logo" id="over">
                <img src="../../media/Logo.png" class="logo" id="under">
            </a>
            <a class="col-8 pl-0 pr-0" id="title-col" href="/homepage">
                <h1 id="web-title">Mnemosis</h1>
                <h4 id="web-subtitle">One Game at a Time</h4>
            </a>
        </div>
    </div>
    <div style="height:350px"></div>

    <script src="../../js/header_footer.js"></script>
</body>
</html>