<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../css/header.css">
    <script src="../../js/header_ready.js"></script>
</head>
<body>
    <div class="container fixed-top" id="header">
        <div style="height:42px"></div>
        <div class="row">
            <a class="col-4 pl-0 pr-0" id="logo-col" href="homepage">
                <img src="../../media/Logo%20Circle.png" class="logo" id="over">
                <img src="../../media/Logo.png" class="logo" id="under">
            </a>
            <a class="col-8 pl-0 pr-0" id="title-col" href="homepage">
                <h1 id="web-title">Mnemosis</h1>
                <h4 id="web-subtitle">One Game at a Time</h4>
            </a>
            <div class="col-12 pl-0 pr-0" id="nav-col">
                <div class="navbar navbar-custom" id="navbar-main">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <form class="form-inline">

                                <input class="form-control subheading mr-3 mt-0" id="search-bar" type="text" placeholder="Search for a game or category here" style="width: 400px">
                                <button class="btn btn-custom mr-3" type="submit">Search</button>
                                <div style="border-left: 2.5px solid; border-left-color: #3CACAE; height: 50px"></div>
                                <a href="view_games" class="btn btn-custom ml-3">View all games</a>

                            </form>
                        </li>
                    </ul>
                    <div class="dropdown">
                        <a href="#" data-toggle="dropdown">
                            <img src="../../media/Icon.png" id="user-icon">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <h1 class="dropdown-header subheading">For logged-in users</h1> <!-- to be removed -->
                            <a href="view_profile_self" class="dropdown-item subheading">View Profile</a>
                            <a href="create_game" class="dropdown-item subheading">Create a Game</a>
                            <a href="login_and_register" class="dropdown-item subheading">Log-out</a>
                            <h1 class="dropdown-header subheading">For guests</h1> <!-- to be removed -->
                            <a href="login_and_register" class="dropdown-item subheading">Log-in</a>
                            <a href="login_and_register" class="dropdown-item subheading">Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="height:100px; background-color: #C8F4F9" id="separator"></div>
    </div>
    <div style="height:450px"></div>

    <script src="../../js/header_footer.js"></script>
</body>
</html>