<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <div class="container mt-5" id="header">
        <a href="homepage" id="header-div">
            <div class="row">
                <div class="col-4">
                    <img src="../../media/Logo%20Circle.png" class="logo" id="over">
                    <img src="../../media/Logo.png" class="logo" id="under">
                </div>
                <div class="col-8" id="titles">
                    <h1 id="web-title">Mnemosis</h1>
                    <h4 id="web-subtitle">One Game at a Time</h4>
                </div>
            </div>
        </a>
    </div>
</body>
</html>