<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <div class="modal fade" id="playModal">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title heading"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <img src="" class="img-fluid" id="modal-img">

                <div class="modal-body subheading pb-0">
                    <div id="modal-desc"></div>
                    <br>
                    <small> Categories: </small>
                </div>

                <div class="container row m-0 mb-2 subheading text-center" id="modal-cats">
                    <div class="col border"></div>
                </div>

                <div class="modal-footer">
                    <small id="modal-id" class="text-muted subheading"></small>
                    <small id="modal-author" class="text-muted subheading">Created by</small>
                    <a type="button" id="play-btn" class="btn btn-custom btn-block" href="/play_game">Play Game</a>
                    <a type="button" id="lead-btn" class="btn btn-custom btn-block" href="/leaderboard">View Leaderboard</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>