<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title heading">Lorem Ipsum</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <img src="" class="img-fluid" id="modal-img">

                <div class="modal-body subheading pb-0">
                    <div id="modal-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut mi pretium, ullamcorper nisi sit amet, semper risus.</div>
                    <br>
                    <small> Categories: </small>
                </div>

                <div class="container row m-0 mb-2 subheading text-center" id="modal-cats">
                    <div class="col border"></div>
                </div>

                <div class="modal-footer">
                    <small class="modal-author text-muted subheading">Ut et eros nunc</small>
                    <a type="button" class="btn btn-custom btn-block" href="play_game">Play Game</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>