<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mnemosis | Create Game</title>

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-grid.css">
    <link rel="stylesheet" href="css/bootstrap-reboot.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.color-animation/1/mainfile"></script>

    <script src="js/bootstrap.js"></script>
    <script src="js/bootstrap.bundle.js"></script>

    <link rel="stylesheet" href="css/general_styles.css">
    <link rel="stylesheet" href="css/create_game.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jura|Quantico">
</head>
<body>
    <script>
        $(document).ready(function(){
            var questions = [];
            var list = $(".form-inline.row.mb-1");
            for (i = 0; i < 10; i++){
                questions.push(list[i]);
            }
            $(document).on("click", "#add_question", function(){
                $(".form-inline.row.justify-content-center").remove();
                var div_add = $("<div></div>")
                var button_add = $("<button></button>");
                div_add.addClass("form-inline row justify-content-center");
                button_add.addClass("btn btn-block");
                button_add.attr("type", "button");
                button_add.attr("id", "add_question");
                button_add.text("+");
                div_add.append(button_add);
                var question = $("<div></div>");
                var start = $("<div></div>");
                var question_text = $("<div></div>");
                var answer_text = $("<div></div>");
                var close = $("<div></div>");
                question.addClass("form-inline row mb-1");
                question.attr("id", "form" + (questions.length + 1))
                start.addClass("col-2");
                question_text.addClass("col-6");
                answer_text.addClass("col-3");
                close.addClass("col");
                var label = $("<label></label>");
                var input1 = $("<input>");
                var input2 = $("<input>");
                var button = $("<button></button>");
                label.addClass("subheading");
                label.text("Question " + (questions.length + 1) + ":");
                input1.addClass("form-control subheading");
                input1.attr("type", "text");
                input1.attr("placeholder", "Your question");
                input1.attr("size", "60");
                input1.attr("id", "question" + (questions.length + 1));
                input2.addClass("form-control subheading");
                input2.attr("type", "text");
                input2.attr("placeholder", "Your answer");
                input2.attr("size", "25");
                input2.attr("id", "answer" + (questions.length + 1));
                button.addClass("btn btn-danger delete");
                button.attr("type", "button");
                button.text("x");
                button.attr("id", "delete" + (questions.length + 1));
                start.append(label);
                question_text.append(input1);
                answer_text.append(input2);
                close.append(button);
                question.append(start);
                question.append(question_text);
                question.append(answer_text);
                question.append(close);
                $("#questions_form").append(question);
                $("#questions_form").append(div_add);
                questions.push(question);
                if (questions.length == 50)
                    $("#add_question").attr("disabled", true);
            });
            $(document).on("click", ".delete", function(){
                $("#add_question").attr("disabled", false);
                var id = $(this).attr("id");
                var number = id.substring(6);
                if (questions.length == 10){
                    $("#question" + number).val("");
                    $("#answer" + number).val("");
                }
                else{
                    for(i = parseInt(number) - 1; i < questions.length - 1; i++){
                        (($("#form" + (i + 1)).find("div.col-2")).find("label")).text("Question " + (i + 1) + ":");
                        (($("#form" + (i + 1)).find("div.col-6")).find("#question" + (i + 1))).val($("#question" + (i + 2)).val());
                        (($("#form" + (i + 1)).find("div.col-3")).find("#answer" + (i + 1))).val($("#answer" + (i + 2)).val());
                    }
                    $("#form" + questions.length).remove();
                    var num = questions.length;
                    list = $(".form-inline.row.mb-1");
                    questions = [];
                    for (i = 0; i < num-1; i++){
                        questions.push(list[i]);
                    }
                }
            });
        });
    </script>
    <div class="container mt-5" id="header">
        <div class="alert alert-custom alert-dismissible subheading" id="exit-alert">
            Exiting this page will not save your game. Do you want to <a href="#" class="heading" id="exit-alert-link">proceed</a>
            or <a href="#" class="heading" id="exit-alert-stay">continue editing</a> ?
        </div>

        <a href="homepage.html" id="header-div">
            <img src="media/Logo%20Circle.png" class="logo" id="over">
            <img src="media/Logo.png" class="logo" id="under">
            <div id="titles">
                <h1 id="web-title">Mnemosis</h1>
                <h4 id="web-subtitle">One Game at a Time</h4>
            </div>
        </a>

        <div class="navbar navbar-custom" id="navbar-main">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <form class="form-inline">

                        <input class="form-control subheading mr-3 mt-0" type="text" placeholder="Search for a game or category here" style="width: 400px" id="search-box">
                        <button type="button" class="btn btn-custom mr-3" id="search-btn">Search</button>
                        <div style="border-left: 2.5px solid; border-left-color: #3CACAE; height: 50px"></div>
                        <a href="view_games.html" class="btn btn-custom ml-3" id="view-games">View all games</a>

                    </form>
                </li>
            </ul>
            <div class="dropdown">
                <a href="#" data-toggle="dropdown">
                    <img src="media/Icon.png" id="user-icon">
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <h1 class="dropdown-header subheading">For logged-in users</h1> <!-- to be removed -->
                    <a href="view_profile_self.html" class="dropdown-item subheading">View Profile</a>
                    <a href="login_and_register.html" class="dropdown-item subheading">Log-out</a>
                    <h1 class="dropdown-header subheading">For guests</h1> <!-- to be removed -->
                    <a href="login_and_register.html" class="dropdown-item subheading">Log-in</a>
                    <a href="login_and_register.html" class="dropdown-item subheading">Register</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5 mb-5" id="main-box">
        <h2 class="subheading" style="text-align: center">Creating a Game</h2>
        <form>
            <div class="form-group">
                <label for="game_title" class="subheading">Game Title:</label>
                <input class="form-control subheading" type="text" placeholder="Your title" id="game_title">
            </div>
            <div class="form-group">
                <label for="game_description" class="subheading">Description:</label>
                <textarea class="form-control subheading" placeholder="Your description" id="game_description"></textarea>
            </div>
            <div class="form-group">
                <label for="game_duration" class="subheading">Game Duration (minutes):</label>
                <input class="subheading" type="number" id="game_duration" min="3" max="10">
            </div>
            <div class="form-group">
                <label for="game_description" class="subheading">Image:</label>
                <input class="form-control subheading" type="file" id="game_image">
            </div>
            <div id="questions_form">
                <div class="form-inline row mb-1" id="form1">
                    <div class="col-2"><label class="subheading">Question 1:</label></div>
                    <div class="col-6"><input type="text" class="form-control subheading" size="60" placeholder="Your question" id="question1"></div>
                    <div class="col-3"><input type="text" class="form-control subheading" size="25" placeholder="Your answer" id="answer1"></div>
                    <div class="col"><button type="button" class="btn btn-danger delete" id="delete1">&times;</button></div>
                </div>
                <div class="form-inline row mb-1" id="form2">
                    <div class="col-2"><label class="subheading">Question 2:</label></div>
                    <div class="col-6"><input type="text" class="form-control subheading" size="60" placeholder="Your question" id="question2"></div>
                    <div class="col-3"><input type="text" class="form-control subheading" size="25" placeholder="Your answer" id="answer2"></div>
                    <div class="col"><button type="button" class="btn btn-danger delete" id="delete2">&times;</button></div>
                </div>
                <div class="form-inline row mb-1" id="form3">
                    <div class="col-2"><label class="subheading">Question 3:</label></div>
                    <div class="col-6"><input type="text" class="form-control subheading" size="60" placeholder="Your question" id="question3"></div>
                    <div class="col-3"><input type="text" class="form-control subheading" size="25" placeholder="Your answer" id="answer3"></div>
                    <div class="col"><button type="button" class="btn btn-danger delete" id="delete3">&times;</button></div>
                </div>
                <div class="form-inline row mb-1" id="form4">
                    <div class="col-2"><label class="subheading">Question 4:</label></div>
                    <div class="col-6"><input type="text" class="form-control subheading" size="60" placeholder="Your question" id="question4"></div>
                    <div class="col-3"><input type="text" class="form-control subheading" size="25" placeholder="Your answer" id="answer4"></div>
                    <div class="col"><button type="button" class="btn btn-danger delete" id="delete4">&times;</button></div>
                </div>
                <div class="form-inline row mb-1" id="form5">
                    <div class="col-2"><label class="subheading">Question 5:</label></div>
                    <div class="col-6"><input type="text" class="form-control subheading" size="60" placeholder="Your question" id="question5"></div>
                    <div class="col-3"><input type="text" class="form-control subheading" size="25" placeholder="Your answer" id="answer5"></div>
                    <div class="col"><button type="button" class="btn btn-danger delete" id="delete5">&times;</button></div>
                </div>
                <div class="form-inline row mb-1" id="form6">
                    <div class="col-2"><label class="subheading">Question 6:</label></div>
                    <div class="col-6"><input type="text" class="form-control subheading" size="60" placeholder="Your question" id="question6"></div>
                    <div class="col-3"><input type="text" class="form-control subheading" size="25" placeholder="Your answer" id="answer6"></div>
                    <div class="col"><button type="button" class="btn btn-danger delete" id="delete6">&times;</button></div>
                </div>
                <div class="form-inline row mb-1" id="form7">
                    <div class="col-2"><label class="subheading">Question 7:</label></div>
                    <div class="col-6"><input type="text" class="form-control subheading" size="60" placeholder="Your question" id="question7"></div>
                    <div class="col-3"><input type="text" class="form-control subheading" size="25" placeholder="Your answer" id="answer7"></div>
                    <div class="col"><button type="button" class="btn btn-danger delete" id="delete7">&times;</button></div>
                </div>
                <div class="form-inline row mb-1" id="form8">
                    <div class="col-2"><label class="subheading">Question 8:</label></div>
                    <div class="col-6"><input type="text" class="form-control subheading" size="60" placeholder="Your question" id="question8"></div>
                    <div class="col-3"><input type="text" class="form-control subheading" size="25" placeholder="Your answer" id="answer8"></div>
                    <div class="col"><button type="button" class="btn btn-danger delete" id="delete8">&times;</button></div>
                </div>
                <div class="form-inline row mb-1" id="form9">
                    <div class="col-2"><label class="subheading">Question 9:</label></div>
                    <div class="col-6"><input type="text" class="form-control subheading" size="60" placeholder="Your question" id="question9"></div>
                    <div class="col-3"><input type="text" class="form-control subheading" size="25" placeholder="Your answer" id="answer9"></div>
                    <div class="col"><button type="button" class="btn btn-danger delete" id="delete9">&times;</button></div>
                </div>
                <div class="form-inline row mb-1" id="form10">
                    <div class="col-2"><label class="subheading">Question 10:</label></div>
                    <div class="col-6"><input type="text" class="form-control subheading" size="60" placeholder="Your question" id="question10"></div>
                    <div class="col-3"><input type="text" class="form-control subheading" size="25" placeholder="Your answer" id="answer10"></div>
                    <div class="col"><button type="button" class="btn btn-danger delete" id="delete10">&times;</button></div>
                </div>
                <div class="form-inline row justify-content-center">
                    <button type="button" class="btn btn-block" id="add_question">+</button>
                </div>
            </div>
            <div class="row"><div class="col-sm-12"><br></div></div>
            <button type="submit" class="btn btn-block subheading" id="create_game" disabled>Create Game</button>
            <div class="row"><div class="col-sm-12"><br></div></div>
        </form>
    </div>

    <div class="container-fluid subheading" id="footer">
        all rights reserved 2020
    </div>

    <script src="js/create_game.js"></script>
</body>
</html>