<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mnemosis | Profile</title>

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-grid.css">
    <link rel="stylesheet" href="css/bootstrap-reboot.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script src="js/bootstrap.js"></script>
    <script src="js/bootstrap.bundle.js"></script>
    <script src="js/view_profile.js"></script>

    <link rel="stylesheet" href="css/general_styles.css">
    <link rel="stylesheet" href="css/view_profile.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jura|Quantico">
</head>
<body>
<div class="container mt-5" id="header">
    <a href="homepage.html" id="header-div">
        <img src="media/Logo%20Circle.png" class="logo" id="over">
        <img src="media/Logo.png" class="logo" id="under">
        <div id="titles">
            <h1 id="web-title">Mnemosis</h1>
            <h4 id="web-subtitle">One Game at a Time</h4>
        </div>
    </a>

    <div class="navbar navbar-custom" id="navbar-main">
        <ul class="navbar-nav">
            <li class="nav-item">
                <form class="form-inline">

                    <input class="form-control subheading mr-3 mt-0" type="text" placeholder="Search for a game or category here" style="width: 400px">
                    <button class="btn btn-custom mr-3" type="submit">Search</button>
                    <div style="border-left: 2.5px solid; border-left-color: #3CACAE; height: 50px"></div>
                    <a href="view_games.html" class="btn btn-custom ml-3">View all games</a>
                </form>
            </li>
        </ul>
        <div class="dropdown">
            <a href="#" data-toggle="dropdown">
                <img src="media/Icon.png" id="user-icon">
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <h1 class="dropdown-header subheading">For logged-in users</h1> <!-- to be removed -->
                <a href="view_profile_self.html" class="dropdown-item subheading">View Profile</a>
                <a href="create_game.html" class="dropdown-item subheading">Create A Game</a>
                <a href="login_and_register.html" class="dropdown-item subheading">Log-out</a>
                <h1 class="dropdown-header subheading">For guests</h1> <!-- to be removed -->
                <a href="login_and_register.html" class="dropdown-item subheading">Log-in</a>
                <a href="login_and_register.html" class="dropdown-item subheading">Register</a>
            </div>
        </div>
    </div>
</div>

<div class="grid card heading mt-5 mb-5" style="padding-top: 10px; padding-bottom: 10px; ">
    <div class="prof_title ">User Profile</div>
    <div class="prof_pic"><img src="media/Icon.png" height="180px" width="180px"></div>
    <div class="prof_hemail">Email:</div>
    <div class="prof_hage">Age:</div>
    <div class="prof_hgender">Gender:</div>
    <div class="prof_email subheading">dustin_maceda@dlsu.edu.ph</div>
    <div class="prof_age subheading">20</div>
    <div class="prof_gender subheading">Male</div>
    <div class="prof_text1 ">Total Games Created</div>
    <div class="prof_text2 ">Total Games Completed</div>
    <div class="prof_subtext1 subheading">7</div>
    <div class="prof_subtext2 subheading">9</div>
    <div class="prof_name ">Dustin Maceda</div>
</div>

<div class="container mt-5 mb-5" id="1-main-box">
    <h2 class="heading" style="text-align: center">Dustin Maceda's Games</h2>
    <div class="row">
        <div class="col-sm-4 mb-4">
            <div class="card">
                <div class="card-header bg-art"></div>
                <img src="media/Sample Images/Desert%201-min.jpg" class="card-img-top card-img-custom">
                <div class="card-body">
                    <div class="grid-small card-title heading">
                        <div class="accuracy">100%</div>
                        <div class="time">2 mins</div>
                    </div>
                    <h5 class="card-title heading">The Last Supper</h5>
                    <p class="card-text subheading">Name the people in Leonardo da Vinci's 'The Last Supper'.</p>
                    <a href="play_game.html" class="btn btn-custom btn-block ">Play Game</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted subheading">Created by <a href="view_profile_user.html">dustinmaceda</a></small>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-4">
            <div class="card">
                <div class="card-header bg-others"></div>
                <img src="media/Sample Images/Desert%202-min.jpg" class="card-img-top card-img-custom">
                <div class="card-body">
                    <div class="grid-small card-title heading">
                        <div class="accuracy">100%</div>
                        <div class="time">2 mins</div>
                    </div>
                    <h5 class="card-title heading">'Leap' Years</h5>
                    <p class="card-text subheading">Name the the answers described in these LEAP year clues.</p>
                    <a href="play_game.html" class="btn btn-custom btn-block ">Play Game</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted subheading">Created by <a href="view_profile_user.html">dustinmaceda</a></small>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-4">
            <div class="card">
                <div class="card-header bg-others"></div>
                <img src="media/Sample Images/Desert%203-min.jpg" class="card-img-top card-img-custom">
                <div class="card-body">
                    <div class="grid-small card-title heading">
                        <div class="accuracy">100%</div>
                        <div class="time">2 mins</div>
                    </div>
                    <h5 class="card-title heading">Missing Word: Mobile Games</h5>
                    <p class="card-text subheading">Name the missing words from these mobile games.</p>
                    <a href="play_game.html" class="btn btn-custom btn-block ">Play Game</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted subheading">Created by <a href="view_profile_user.html">dustinmaceda</a></small>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-4  game-created">
            <div class="card">
                <div class="card-header bg-general"></div>
                <img src="media/Sample Images/Desert%205-min.jpg" class="card-img-top card-img-custom">
                <div class="card-body">
                    <div class="grid-small card-title heading">
                        <div class="accuracy">100%</div>
                        <div class="time">2 mins</div>
                    </div>
                    <h5 class="card-title heading">Multi-Category Letter Board VI</h5>
                    <p class="card-text subheading">For each column, can you name the items that fit the category and begin with the given letters?</p>
                    <a href="play_game.html" class="btn btn-custom btn-block ">Play Game</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted subheading">Created by <a href="view_profile_user.html">dustinmaceda</a></small>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-4 game-created">
            <div class="card ">
                <div class="card-header bg-trivia"></div>
                <img src="media/Sample Images/Desert%207-min.jpg" class="card-img-top card-img-custom">
                <div class="card-body">
                    <div class="grid-small card-title heading">
                        <div class="accuracy">100%</div>
                        <div class="time">2 mins</div>
                    </div>
                    <h5 class="card-title heading">Odd but True Facts</h5>
                    <p class="card-text subheading">Can you match the two parts of these odd facts?</p>
                    <a href="play_game.html" class="btn btn-custom btn-block ">Play Game</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted subheading">Created by <a href="view_profile_user.html">dustinmaceda</a></small>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-4 game-created">
            <div class="card">
                <div class="card-header bg-sports"></div>
                <img src="media/Sample Images/El%20Capitan%202-min.jpg" class="card-img-top card-img-custom">
                <div class="card-body">
                    <div class="grid-small card-title heading">
                        <div class="accuracy">100%</div>
                        <div class="time">2 mins</div>
                    </div>
                    <h5 class="card-title heading">Finish the Athlete</h5>
                    <p class="card-text subheading">Can you choose the image that completes the name of each athlete?</p>
                    <a href="play_game.html" class="btn btn-custom btn-block ">Play Game</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted subheading">Created by <a href="view_profile_user.html">dustinmaceda</a></small>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-4 game-created">
            <div class="card">
                <div class="card-header bg-business"></div>
                <img src="media/Sample Images/El%20Capitan-min.jpg" class="card-img-top card-img-custom">
                <div class="card-body">
                    <div class="grid-small card-title heading">
                        <div class="accuracy">100%</div>
                        <div class="time">2 mins</div>
                    </div>
                    <h5 class="card-title heading">Artist by Painting</h5>
                    <p class="card-text subheading">Can you name the artist from a close-up of their famous painting?</p>
                    <a href="play_game.html" class="btn btn-custom btn-block ">Play Game</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted subheading">Created by <a href="view_profile_user.html">dustinmaceda</a></small>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-custom btn-block subheading" id="button">Show More</button>
</div>


<div class="container mt-5 mb-5" id="2-main-box">
    <h2 class="heading" style="text-align: center">Games Completed</h2>
    <div class="row">
        <div class="col-sm-4 mb-4">
            <div class="card">
                <div class="card-header bg-trivia"></div>
                <img src="media/Sample Images/Yosemite-min.jpg" class="card-img-top card-img-custom">
                <div class="card-body">
                    <div class="grid-small card-title heading">
                        <div class="accuracy">100%</div>
                        <div class="time">2 mins</div>
                    </div>
                    <h5 class="card-title heading">Criteria Wars</h5>
                    <p class="card-text subheading">And here we thought "bad" would be the only criteria that mattered.</p>
                    <a href="play_game.html" class="btn btn-custom btn-block ">Play Game</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted subheading">Created by <a href="view_profile_self.html">geosefuy</a></small>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-4">
            <div class="card">
                <div class="card-header bg-business"></div>
                <img src="media/Sample Images/El%20Capitan-min.jpg" class="card-img-top card-img-custom">
                <div class="card-body">
                    <div class="grid-small card-title heading">
                        <div class="accuracy">100%</div>
                        <div class="time">2 mins</div>
                    </div>
                    <h5 class="card-title heading">Artist by Painting</h5>
                    <p class="card-text subheading">Can you name the artist from a close-up of their famous painting?</p>
                    <a href="play_game.html" class="btn btn-custom btn-block ">Play Game</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted subheading">Created by <a href="view_profile_user.html">dustinmaceda</a></small>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-4">
            <div class="card">
                <div class="card-header bg-others"></div>
                <img src="media/Sample Images/High%20Sierra-min.jpg" class="card-img-top card-img-custom">
                <div class="card-body">
                    <div class="grid-small card-title heading">
                        <div class="accuracy">100%</div>
                        <div class="time">2 mins</div>
                    </div>
                    <h5 class="card-title heading">Literary Couples</h5>
                    <p class="card-text subheading">Can you pick the couples that originated in works of literature without picking any that originated on TV shows?</p>
                    <a href="play_game.html" class="btn btn-custom btn-block ">Play Game</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted subheading">Created by <a href="view_profile_admin.html">byronnill</a></small>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-4 game-completed">
            <div class="card">
                <div class="card-header bg-art"></div>
                <img src="media/Sample Images/Desert%201-min.jpg" class="card-img-top card-img-custom">
                <div class="card-body">
                    <div class="grid-small card-title heading">
                        <div class="accuracy">100%</div>
                        <div class="time">2 mins</div>
                    </div>
                    <h5 class="card-title heading">The Last Supper</h5>
                    <p class="card-text subheading">Name the people in Leonardo da Vinci's 'The Last Supper'.</p>
                    <a href="play_game.html" class="btn btn-custom btn-block ">Play Game</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted subheading">Created by <a href="view_profile_user.html">dustinmaceda</a></small>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-4 game-completed">
            <div class="card">
                <div class="card-header bg-others"></div>
                <img src="media/Sample Images/Desert%202-min.jpg" class="card-img-top card-img-custom">
                <div class="card-body">
                    <div class="grid-small card-title heading">
                        <div class="accuracy">100%</div>
                        <div class="time">2 mins</div>
                    </div>
                    <h5 class="card-title heading">'Leap' Years</h5>
                    <p class="card-text subheading">Name the the answers described in these LEAP year clues.</p>
                    <a href="play_game.html" class="btn btn-custom btn-block ">Play Game</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted subheading">Created by <a href="view_profile_user.html">dustinmaceda</a></small>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-4 game-completed">
            <div class="card">
                <div class="card-header bg-others"></div>
                <img src="media/Sample Images/Desert%203-min.jpg" class="card-img-top card-img-custom">
                <div class="card-body">
                    <div class="grid-small card-title heading">
                        <div class="accuracy">100%</div>
                        <div class="time">2 mins</div>
                    </div>
                    <h5 class="card-title heading">Missing Word: Mobile Games</h5>
                    <p class="card-text subheading">Name the missing words from these mobile games.</p>
                    <a href="play_game.html" class="btn btn-custom btn-block ">Play Game</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted subheading">Created by <a href="view_profile_user.html">dustinmaceda</a></small>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-4 game-completed">
            <div class="card">
                <div class="card-header bg-general"></div>
                <img src="media/Sample Images/Desert%205-min.jpg" class="card-img-top card-img-custom">
                <div class="card-body">
                    <div class="grid-small card-title heading">
                        <div class="accuracy">100%</div>
                        <div class="time">2 mins</div>
                    </div>
                    <h5 class="card-title heading">Multi-Category Letter Board VI</h5>
                    <p class="card-text subheading">For each column, can you name the items that fit the category and begin with the given letters?</p>
                    <a href="play_game.html" class="btn btn-custom btn-block ">Play Game</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted subheading">Created by <a href="view_profile_user.html">dustinmaceda</a></small>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-4  game-completed">
            <div class="card">
                <div class="card-header bg-trivia"></div>
                <img src="media/Sample Images/Desert%207-min.jpg" class="card-img-top card-img-custom">
                <div class="card-body">
                    <div class="grid-small card-title heading">
                        <div class="accuracy">100%</div>
                        <div class="time">2 mins</div>
                    </div>
                    <h5 class="card-title heading">Odd but True Facts</h5>
                    <p class="card-text subheading">Can you match the two parts of these odd facts?</p>
                    <a href="play_game.html" class="btn btn-custom btn-block ">Play Game</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted subheading">Created by <a href="view_profile_user.html">dustinmaceda</a></small>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-4 game-completed">
            <div class="card">
                <div class="card-header bg-sports"></div>
                <img src="media/Sample Images/El%20Capitan%202-min.jpg" class="card-img-top card-img-custom">
                <div class="card-body">
                    <div class="grid-small card-title heading">
                        <div class="accuracy">100%</div>
                        <div class="time">2 mins</div>
                    </div>
                    <h5 class="card-title heading">Finish the Athlete</h5>
                    <p class="card-text subheading">Can you choose the image that completes the name of each athlete?</p>
                    <a href="play_game.html" class="btn btn-custom btn-block ">Play Game</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted subheading">Created by <a href="view_profile_user.html">dustinmaceda</a></small>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-custom btn-block subheading" id="button2">Show More</button>
</div>


<div class="container-fluid subheading" id="footer">
    all rights reserved 2020
</div>
</body>
</html>