<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mnemosis | All Games</title>

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-grid.css">
    <link rel="stylesheet" href="css/bootstrap-reboot.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.color-animation/1/mainfile"></script>

    <script src="js/bootstrap.js"></script>
    <script src="js/bootstrap.bundle.js"></script>

    <link rel="stylesheet" href="css/general_styles.css">
    <link rel="stylesheet" href="css/view_games.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jura|Quantico">
</head>
<body>
    <div class="container mt-5" id="header">
        <a href="homepage.html" id="header-div">
            <img src="media/Logo%20Circle.png" class="logo" id="over">
            <img src="media/Logo.png" class="logo" id="under">
            <div id="titles">
                <h1 id="web-title">Mnemosis</h1>
                <h4 id="web-subtitle">One Game at a Time</h4>
            </div>
        </a>

        <div class="navbar navbar-custom" id="navbar-main">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <form class="form-inline">

                        <input class="form-control subheading mr-3 mt-0" type="text" placeholder="Search for a game or category here" style="width: 400px" id="search-box">
                        <button type="button" class="btn btn-custom mr-3" id="search-btn">Search</button>

                    </form>
                </li>
            </ul>
            <div class="dropdown">
                <a href="#" data-toggle="dropdown">
                    <img src="media/Icon.png" id="user-icon">
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <h1 class="dropdown-header subheading">For logged-in users</h1> <!-- to be removed -->
                    <a href="view_profile_admin.html" class="dropdown-item subheading">View Profile</a>
                    <a href="create_game.html" class="dropdown-item subheading">Create a Game</a>
                    <a href="login_and_register.html" class="dropdown-item subheading">Log-out</a>
                    <h1 class="dropdown-header subheading">For guests</h1> <!-- to be removed -->
                    <a href="login_and_register.html" class="dropdown-item subheading">Log-in</a>
                    <a href="login_and_register.html" class="dropdown-item subheading">Register</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5 mb-5" id="main-box">
        <h2 class="subheading" style="text-align: center">Filters</h2>
        <div class="row">
            <div class="col-sm-12 text-center">
                <div id="filter-buttons">
                    <div class="btn-group" style="display: block; margin: auto">
                        <button type="button" id="filter-by-none" class="btn btn-custom subheading active">None</button>
                        <button type="button" id="filter-by-art" class="btn subheading bg-art">Art</button>
                        <button type="button" id="filter-by-business" class="btn subheading bg-business">Business</button>
                        <button type="button" id="filter-by-scitech" class="btn subheading bg-scitech">Science and Technology</button>
                        <button type="button" id="filter-by-general" class="btn subheading bg-general">General Knowledge</button>
                        <button type="button" id="filter-by-trivia" class="btn subheading bg-trivia">Trivia</button>
                        <button type="button" id="filter-by-sports" class="btn subheading bg-sports">Sports</button>
                        <button type="button" id="filter-by-others" class="btn subheading bg-others">Others</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 mb-4">
                <div class="card card-general">
                    <div class="card-header bg-general"></div>
                    <img src="media/Sample Images/Desert%205-min.jpg" class="card-img-top card-img-custom">
                    <div class="card-body">
                        <h5 class="card-title heading">Multi-Category Letter Board VI</h5>
                        <p class="card-text subheading">For each column, can you name the items that fit the category and begin with the given letters?</p>
                        <a href="play_game.html" class="btn btn-custom btn-block ">Play Game</a>
                        <a href="modify_game.html" class="btn btn-custom btn-block">Modify Game</a>
                        <button type="button" class="btn btn-custom2 btn-block delete">Delete Game</button>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted subheading">Created by <a href="view_profile_user.html">titanfall002</a></small>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-4">
                <div class="card card-trivia">
                    <div class="card-header bg-trivia"></div>
                    <img src="media/Sample Images/Sierra%202-min.jpg" class="card-img-top card-img-custom">
                    <div class="card-body">
                        <h5 class="card-title heading">25 Things We Learned in 2019</h5>
                        <p class="card-text subheading">Can you fill in the blanks for the things we learned in 2019?</p>
                        <a href="play_game.html" class="btn btn-custom btn-block ">Play Game</a>
                        <a href="modify_game.html" class="btn btn-custom btn-block">Modify Game</a>
                        <button type="button" class="btn btn-custom2 btn-block delete">Delete Game</button>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted subheading">Created by <a href="view_profile_self.html">sampleauthorxd</a></small>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-4">
                <div class="card card-others">
                    <div class="card-header bg-others"></div>
                    <img src="media/Sample Images/Desert%202-min.jpg" class="card-img-top card-img-custom">
                    <div class="card-body">
                        <h5 class="card-title heading">Unique Harry Potter Film Characters</h5>
                        <p class="card-text subheading">Can you pick which Harry Potter film each of these characters appeared in?</p>
                        <a href="play_game.html" class="btn btn-custom btn-block ">Play Game</a>
                        <a href="modify_game.html" class="btn btn-custom btn-block">Modify Game</a>
                        <button type="button" class="btn btn-custom2 btn-block delete">Delete Game</button>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted subheading">Created by <a href="view_profile_admin.html">admin-001</a></small>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-4">
                <div class="card card-trivia">
                    <div class="card-header bg-trivia"></div>
                    <img src="media/Sample Images/Desert%207-min.jpg" class="card-img-top card-img-custom">
                    <div class="card-body">
                        <h5 class="card-title heading">Odd But True Facts</h5>
                        <p class="card-text subheading">Can you match the two parts of these odd facts?</p>
                        <a href="play_game.html" class="btn btn-custom btn-block ">Play Game</a>
                        <a href="modify_game.html" class="btn btn-custom btn-block">Modify Game</a>
                        <button type="button" class="btn btn-custom2 btn-block delete">Delete Game</button>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted subheading">Created by <a href="view_profile_user.html">mcqueenkachow</a></small>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-4">
                <div class="card card-others">
                    <div class="card-header bg-others"></div>
                    <img src="media/Sample Images/Desert%203-min.jpg" class="card-img-top card-img-custom">
                    <div class="card-body">
                        <h5 class="card-title heading">Literary Couples</h5>
                        <p class="card-text subheading">Can you pick the couples that originated in works of literature without picking any that originated on TV shows?</p>
                        <a href="play_game.html" class="btn btn-custom btn-block ">Play Game</a>
                        <a href="modify_game.html" class="btn btn-custom btn-block">Modify Game</a>
                        <button type="button" class="btn btn-custom2 btn-block delete">Delete Game</button>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted subheading">Created by <a href="view_profile_self.html">chickenjoy77</a></small>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-4">
                <div class="card card-sports">
                    <div class="card-header bg-sports"></div>
                    <img src="media/Sample Images/El%20Capitan%202-min.jpg" class="card-img-top card-img-custom">
                    <div class="card-body">
                        <h5 class="card-title heading">Italian Soccer Players</h5>
                        <p class="card-text subheading">There are no Marios in this quiz, but there is one Gianluigi.</p>
                        <a href="play_game.html" class="btn btn-custom btn-block ">Play Game</a>
                        <a href="modify_game.html" class="btn btn-custom btn-block">Modify Game</a>
                        <button type="button" class="btn btn-custom2 btn-block delete">Delete Game</button>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted subheading">Created by <a href="view_profile_admin.html">kungpaoch1cken</a></small>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-4">
                <div class="card card-trivia">
                    <div class="card-header bg-trivia"></div>
                    <img src="media/Sample Images/Yosemite-min.jpg" class="card-img-top card-img-custom">
                    <div class="card-body">
                        <h5 class="card-title heading">Almost Useless Trivia</h5>
                        <p class="card-text subheading">Can you name the answers to these 40 general knowledge questions in 4 minutes?</p>
                        <a href="play_game.html" class="btn btn-custom btn-block ">Play Game</a>
                        <a href="modify_game.html" class="btn btn-custom btn-block">Modify Game</a>
                        <button type="button" class="btn btn-custom2 btn-block delete">Delete Game</button>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted subheading">Created by <a href="view_profile_user.html">sini_gang</a></small>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-4">
                <div class="card card-business">
                    <div class="card-header bg-business"></div>
                    <img src="media/Sample Images/El%20Capitan-min.jpg" class="card-img-top card-img-custom">
                    <div class="card-body">
                        <h5 class="card-title heading">Name the Business by Logo</h5>
                        <p class="card-text subheading">Can you name the franchise from one letter of their logo?</p>
                        <a href="play_game.html" class="btn btn-custom btn-block ">Play Game</a>
                        <a href="modify_game.html" class="btn btn-custom btn-block">Modify Game</a>
                        <button type="button" class="btn btn-custom2 btn-block delete">Delete Game</button>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted subheading">Created by <a href="view_profile_self.html">grant_palmos</a></small>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-4">
                <div class="card card-art">
                    <div class="card-header bg-art"></div>
                    <img src="media/Sample Images/Desert%201-min.jpg" class="card-img-top card-img-custom">
                    <div class="card-body">
                        <h5 class="card-title heading">Artist by Painting</h5>
                        <p class="card-text subheading">Can you name the artist from a close-up of their famous painting?</p>
                        <a href="play_game.html" class="btn btn-custom btn-block ">Play Game</a>
                        <a href="modify_game.html" class="btn btn-custom btn-block">Modify Game</a>
                        <button type="button" class="btn btn-custom2 btn-block delete">Delete Game</button>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted subheading">Created by <a href="view_profile_admin.html">pamela1</a></small>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-4">
                <div class="card card-sports">
                    <div class="card-header bg-sports"></div>
                    <img src="media/Sample Images/Mojave%20Day-min.jpg" class="card-img-top card-img-custom">
                    <div class="card-body">
                        <h5 class="card-title heading">Finish the Athlete</h5>
                        <p class="card-text subheading">Can you choose the image that completes the name of each athlete?</p>
                        <a href="play_game.html" class="btn btn-custom btn-block ">Play Game</a>
                        <a href="modify_game.html" class="btn btn-custom btn-block">Modify Game</a>
                        <button type="button" class="btn btn-custom2 btn-block delete">Delete Game</button>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted subheading">Created by <a href="view_profile_user.html">loonie</a></small>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-4">
                <div class="card card-others">
                    <div class="card-header bg-others"></div>
                    <img src="media/Sample Images/High%20Sierra-min.jpg" class="card-img-top card-img-custom">
                    <div class="card-body">
                        <h5 class="card-title heading">'E' TV Character Match</h5>
                        <p class="card-text subheading">Can you match the TV shows with their 'E' characters?</p>
                        <a href="play_game.html" class="btn btn-custom btn-block ">Play Game</a>
                        <a href="modify_game.html" class="btn btn-custom btn-block">Modify Game</a>
                        <button type="button" class="btn btn-custom2 btn-block delete">Delete Game</button>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted subheading">Created by <a href="view_profile_self.html">patrickcai</a></small>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-4">
                <div class="card card-art">
                    <div class="card-header bg-art"></div>
                    <img src="media/Sample Images/Yosemite%204-min.jpg" class="card-img-top card-img-custom">
                    <div class="card-body">
                        <h5 class="card-title heading">Art Movements</h5>
                        <p class="card-text subheading">Can you name the art movements?</p>
                        <a href="play_game.html" class="btn btn-custom btn-block ">Play Game</a>
                        <a href="modify_game.html" class="btn btn-custom btn-block">Modify Game</a>
                        <button type="button" class="btn btn-custom2 btn-block delete">Delete Game</button>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted subheading">Created by <a href="view_profile_admin.html">pamela2</a></small>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-4">
                <div class="card card-scitech">
                    <div class="card-header bg-scitech"></div>
                    <img src="media/Sample Images/Mavericks-min.jpg" class="card-img-top card-img-custom">
                    <div class="card-body">
                        <h5 class="card-title heading">True or False: Science</h5>
                        <p class="card-text subheading">Can you name the correct answers to these statements related to science?</p>
                        <a href="play_game.html" class="btn btn-custom btn-block ">Play Game</a>
                        <a href="modify_game.html" class="btn btn-custom btn-block">Modify Game</a>
                        <button type="button" class="btn btn-custom2 btn-block delete">Delete Game</button>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted subheading">Created by <a href="view_profile_user.html">alexaandra</a></small>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-4">
                <div class="card card-general">
                    <div class="card-header bg-general"></div>
                    <img src="media/Sample Images/Sierra-min.jpg" class="card-img-top card-img-custom">
                    <div class="card-body">
                        <h5 class="card-title heading">Animals by Emoji</h5>
                        <p class="card-text subheading">Can you name these animals by their emoji representations?</p>
                        <a href="play_game.html" class="btn btn-custom btn-block ">Play Game</a>
                        <a href="modify_game.html" class="btn btn-custom btn-block">Modify Game</a>
                        <button type="button" class="btn btn-custom2 btn-block delete">Delete Game</button>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted subheading">Created by <a href="view_profile_self.html">yuume</a></small>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-4">
                <div class="card card-trivia">
                    <div class="card-header bg-trivia"></div>
                    <img src="media/Sample Images/Yosemite%203-min.jpg" class="card-img-top card-img-custom">
                    <div class="card-body">
                        <h5 class="card-title heading">Who Wants to Be a Millionaire?</h5>
                        <p class="card-text subheading">Can you choose the correct answers to each question from John Carpenter's winning game of 'Who Wants to Be a Millionaire'?</p>
                        <a href="play_game.html" class="btn btn-custom btn-block ">Play Game</a>
                        <a href="modify_game.html" class="btn btn-custom btn-block">Modify Game</a>
                        <button type="button" class="btn btn-custom2 btn-block delete">Delete Game</button>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted subheading">Created by <a href="view_profile_admin.html">pamela3</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>

                <!--    not yet working to be finished soon-->
                <!--    <div class="modal fade" id="myModal">-->
                <!--        <div class="modal-dialog">-->
                <!--            <div class="modal-content">-->
                <!--                <div class="modal-header">-->
                <!--                    <h4 class="modal-title">Sample Game Title</h4>-->
                <!--                    <button type="button" class="close" data-dismiss="modal">%times;</button>-->
                <!--                </div>-->

                <!--                <div class="modal-body">-->
                <!--                    Sample game description.-->
                <!--                </div>-->


                <!--                <div class="modal-footer">-->
                <!--                    <small class="text-muted subheading">Created by Sample Author</small>-->
                <!--                    <button type="button" class="btn btn-custom btn-block" data-dismiss="modal">Close</button>-->
                <!--                </div>-->
                <!--            </div>-->
                <!--        </div>-->
                <!--    </div>-->

    <div class="container-fluid subheading" id="footer">
        all rights reserved 2020
    </div>

    <script src="js/view_games.js"></script>
</body>
</html>