body {
    background-color: #C8F4F9;
}

#header-div:hover {
    text-decoration: none;
}

#header {
    top: 0;
    /*left: 250px;*/
    width: 100%;
    /*position: fixed;*/
}

.logo {
    max-height: 300px;
}

#over {
    z-index: 2;
    position: absolute;
    animation: crotation 8s infinite linear;
}

#under {
    z-index: 1;
    position: absolute;
    animation: ccrotation 8s infinite linear;
}

@keyframes crotation {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}

@keyframes ccrotation {
    from { transform: rotate(359deg); }
    to { transform: rotate(0deg); }
}

#titles {
    color: black;
    padding-top: 50px;
    padding-bottom: 0;
}

#web-title {
    font-size: 100px;
    font-family: 'Quantico', sans-serif;
}

#web-subtitle {
    font-size: 40px;
    font-family: 'Jura', sans-serif;
}

#user-icon {
    height: 50px;
    width: 50px;
    padding: 5px;
    float: right;
}

.heading {
    font-family: 'Quantico', sans-serif;
    font-weight: bold;
}

.subheading {
    font-family: 'Jura', sans-serif;
}

#navbar-main {
    margin-top: 100px;
}

.navbar-custom {
    background-color: #EEB5EB;
    height: 75px;
}

.card {
    border-color: white;
}

.card-img-custom {
    min-height: 200px;
    max-height: 200px;
    height: 200px;
    width: auto;
}

.bg-art,
#filter-by-art {
    background-color: #FFCCCC;
    border-color: #FFCCCC;
}

.bg-business,
#filter-by-business {
    background-color: #FFE6CC;
    border-color: #FFE6CC;
}

.bg-scitech,
#filter-by-scitech {
    background-color: #FFFFCC;
    border-color: #FFFFCC;
}

.bg-general,
#filter-by-general {
    background-color: #D9FFCC;
    border-color: #D9FFCC;
}

.bg-trivia,
#filter-by-trivia {
    background-color: #CCFFFF;
    border-color: #CCFFFF;
}

.bg-sports,
#filter-by-sports {
    background-color: #D9CCFF;
    border-color: #D9CCFF;
}

.bg-others,
#filter-by-others {
    background-color: #FFCCF2;
    border-color: #FFCCF2;
}

.bg-art-dark,
#filter-by-art:hover,
#filter-by-art.active {
    background-color: #800000;
    border-color: #800000;
    color: white;
}

.bg-business-dark,
#filter-by-business:hover,
#filter-by-business.active {
    background-color: #804000;
    border-color: #804000;
    color: white;
}

.bg-scitech-dark,
#filter-by-scitech:hover,
#filter-by-scitech.active {
    background-color: #808000;
    border-color: #808000;
    color: white;
}


.bg-general-dark,
#filter-by-general:hover,
#filter-by-general.active {
    background-color: #208000;
    border-color: #208000;
    color: white;
}

.bg-trivia-dark,
#filter-by-trivia:hover,
#filter-by-trivia.active {
    background-color: #002080;
    border-color: #002080;
    color: white;
}

.bg-sports-dark,
#filter-by-sports:hover,
#filter-by-sports.active {
    background-color: #600080;
    border-color: #600080;
    color: white;
}

.bg-others-dark,
#filter-by-others:hover,
#filter-by-others.active {
    background-color: #800060;
    border-color: #800060;
    color: white;
}

#filter-by-art.active:hover,
#filter-by-business.active:hover,
#filter-by-scitech.active:hover,
#filter-by-general.active:hover,
#filter-by-trivia.active:hover,
#filter-by-sports.active:hover,
#filter-by-others.active:hover{
    cursor: default;
}

.btn-custom {
    background-color: #3CACAE;
    border-color: #3CACAE;
    font-family: 'Jura', sans-serif;
    color: white;
}

.btn-custom2 {
    background-color: #3CACAE;
    border-color: #3CACAE;
    font-family: 'Jura', sans-serif;
    color: white;
}

.btn-custom:hover,
.btn-custom.active,
a.btn:hover {
    background-color: #236A6B;
    border-color: #236A6B;
    color: white;
}

.btn-custom.active:hover {
    cursor: default;
}

.btn-custom2:hover {
    background-color: #CA3433;
    border-color: #CA3433;
    font-family: 'Jura', sans-serif;
    color: white;
}

.btn[disabled] {
    background-color: #7AD0D1;
    border-color: #7AD0D1;
    color: white;
    cursor: default;
}

.alert-custom {
    background-color: #236A6B;
    border-color: #236A6B;
    color: white;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #236A6B;
    color: white;
    text-align: center;
}

.card-header {
    height: 30px;
}

.card-body {
    height: 200px;
}