#header {
    top: 0;
    width: 100%;
    background-color: #C8F4F9;
    transition: 0.3s;
}

.logo {
    max-height: 300px;
    transition: 0.3s;
}

#logo-col {
    transition: 0.3s;
}

#over {
    z-index: 2;
    position: absolute;
    animation: rotation 8s ease-in-out infinite alternate;
    transition: 0.3s;
}

#under {
    z-index: 1;
    position: absolute;
    animation: rotation 8s ease-in-out infinite alternate-reverse;
    transition: 0.3s;
}

@keyframes rotation {
    from { transform: rotate(0deg); }
    to { transform: rotate(720deg); }
}

#title-col {
    color: black;
    padding-top: 50px;
    transition: 0.3s;
}

#title-col:hover {
    text-decoration: none;
}

#web-title {
    font-size: 100px;
    font-family: 'Quantico', sans-serif;
    transition: 0.3s;
}

#web-subtitle {
    font-size: 40px;
    font-family: 'Jura', sans-serif;
    transition: 0.3s;
}

#user-icon {
    height: 50px;
    width: 50px;
    padding: 5px;
    float: right;
}

#search-bar {
    transition: 0.3s;
}

#nav-col {
    top: 100px;
    transition: 0.3s;
}

.navbar-custom {
    background-color: rgba(238, 181, 235, 0.7);
    height: 75px;
}

i.down {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
}