#titles {
    color: black;
    padding-top: 50px;
    padding-bottom: 0;
}

#startup-box {
    margin-top: 50px;
}

#login-box {
    background-color: #EEB5EB;
    padding: 30px;
    flex-grow: 1;
    flex-shrink: 1;
    transition: all 400ms ease;
}

#register-box {
    background-color: #C26DBC;
    padding: 30px;
    flex-grow: 1;
    flex-shrink: 1;
    transition: all 400ms ease;
}