#titles {
    color: black;
    padding-top: 50px;
    padding-bottom: 0;
}

#startup-box {
    margin-top: 50px;
}

#login-box {
    position: relative;
    background-color: #EEB5EB;
    padding: 30px 30px 60px;
    flex-grow: 1;
    flex-shrink: 1;
    transition: all 400ms ease;
}

#register-box {
    position: relative;
    background-color: #C26DBC;
    padding: 30px 30px 60px;
    flex-grow: 1;
    flex-shrink: 1;
    transition: all 400ms ease;
}

.error {
    margin-top: 5px;
    height: 10px;
    font-size: 12px;
}

.wrong {
    background-color: #F7BBBB;
}

.buttons {
    position: absolute;
    bottom: 30px;

    width: 96%;
    left: 50%;
    transform: translateX(-50%);
}