.grid {
    margin: auto;
    width: 1100px;
    height: 400px;
    display:grid;
    grid-template-columns: 3fr 1fr 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
            "prof_title prof_title prof_title prof_title"
            "prof_pic prof_hemail prof_email prof_email"
            "prof_pic prof_hage prof_age prof_age"
            "prof_pic prof_hgender prof_gender prof_gender"
            "prof_name prof_text1 prof_text1 prof_text2"
            "prof_file prof_subtext1 prof_subtext1 prof_subtext2";
    grid-gap: 0px;
}

.prof_title{
    grid-area:prof_title ;
    margin: auto;

    font-size: 40px;

}

.prof_pic{
    grid-area:prof_pic ;
    text-align: center;
    padding-top: 0;

}

.prof_text1{
    grid-area:prof_text1 ;
    align-self: center;
    justify-self: center;
    font-size: 25px;

    /* background-color: green; */
}

.prof_text2{
    grid-area:prof_text2 ;
    align-self: center;
    justify-self: center;
    font-size: 25px;
    /* background-color: yellow; */
}

.prof_subtext1{
    grid-area:prof_subtext1 ;
    align-self: top;
    justify-self: center;
    font-size: 25px;
    /* background-color: violet; */
}

.prof_subtext2{
    grid-area:prof_subtext2 ;
    align-self: top;
    justify-self: center;
    font-size: 25px;
    /* background-color: orange; */
}

.prof_name{
    grid-area:prof_name ;
    text-align: center;
    font-size: 25px;
}

.prof_email{
    grid-area:prof_email ;
    align-self: center;
    justify-self: start;
    font-size: 25px;
    /* background-color: brown; */
}

.prof_age{
    grid-area:prof_age ;
    align-self: center;
    justify-self: start;
    font-size: 25px;
    /* background-color: yellow; */
}

.prof_gender{
    grid-area:prof_gender ;
    align-self: center;
    justify-self: start;
    font-size: 25px;
    /* background-color: green; */
}

.prof_hemail{
    grid-area:prof_hemail ;
    align-self: center;
    justify-self: start;
    font-size: 25px;
    /* background-color: brown; */
}

.prof_hage{
    grid-area:prof_hage ;
    align-self: center;
    justify-self: start;
    font-size: 25px;
    /* background-color: yellow; */
}

.prof_hgender{
    grid-area:prof_hgender ;
    align-self: center;
    justify-self: start;
    font-size: 25px;
    /* background-color: green; */
}

.prof_file{
    grid-area:prof_file ;
    text-align: center;
    justify-self: center;
}

.grid-small{
    margin: auto;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
            "accuracy time";

}

.accuracy{
    grid-area:accuracy ;
    text-align: center;
    padding-bottom: 10px;
    color: green;
}

.time{
    grid-area:time ;
    text-align: center;
    padding-bottom: 10px;

}

.game-created{
    display: none;
}

.game-completed{
    display: none;
}

#upload{
    height: 38px;
    margin-left: 18px;
}

.custom-file-label{
    width: 280px;
}