.question-wrapper {
    display: flex;
    background-color: #EEB5EB;
    filter: blur(25px);
}

.question-holder {
    margin: auto;
    text-align: center;
    background-color: #EEB5EB;
    font-size: 15px;
}

.answer-wrapper {
    display: flex;
    background-color: #C26DBC;
    color: whitesmoke;
    transition: 0.3s;
}

.answer-wrapper-final {
    display: flex;
    background-color: #EEB5EB;
    color: black;
    transition: 0.3s;
}

.answer-holder {
    margin: auto;
    text-align: center;
    font-size: 15px;
}

#start-btn, #quit-btn, #pause-btn, #resume-btn, #record-btn {
    height: 50px;
    font-size: 25px;
    color: white;
}

#quit-btn, #pause-btn, #resume-btn, #record-btn, #accuracy-holder {
    display: none;
}

@keyframes gameIsEnding {
    0% {color: #C16C6C}
    50% {color: red}
    100% {color: #C16C6C}
}