<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head.ejs") %>

    <title>Mnemosis | About</title>
    <link rel="stylesheet" href="../../css/about.css">
</head>
<body>

    <%- include ("../partials/header_about.ejs") %>

    <div class="container mt-5 mb-5" id="main-box">

        <div class="subheading" id="text1">
            <b id="app-title" class="heading">Mnemosis: One Game at a Time</b> <br><br>

            dedicates itself to providing simple brain exercises for free to its users and to guests.

            <br><br><br>

            Created by <br>
            <b>Dustin Maceda</b>  |  <b>Byron Nill</b>  |  <b>Geosef Uy</b>
        </div>
        <div class="subheading" id="text2">
            <b id="app-title" class="heading">Acknowledgements</b> <br><br>

            The creators would like to acknowledge to authors and owners of the following modules.

            <br><br>
            <a href="https://nodejs.org/en/" class="ack">Node.js</a>
            <a href="https://www.npmjs.com/" class="ack">npm</a>
            <a href="https://git-scm.com/" class="ack">Git</a>
            <a href="https://github.com/" class="ack">GitHub</a>
            <a href="https://www.heroku.com/" class="ack">Heroku</a>

            <br>

            <a href="https://www.npmjs.com/package/express" class="ack">express</a>
            <a href="https://www.npmjs.com/package/express-fileupload" class="ack">express-fileupload</a>
            <a href="https://www.npmjs.com/package/express-session" class="ack">express-session</a>
            <a href="https://www.npmjs.com/package/express-validator" class="ack">express-validator</a>
            <a href="https://www.npmjs.com/package/mongodb" class="ack">mongodb</a>
            <a href="https://www.npmjs.com/package/mongoose" class="ack">mongoose</a>

            <br>

            <a href="https://www.npmjs.com/package/bcrypt" class="ack">bcrypt</a>
            <a href="https://www.npmjs.com/package/body-parser" class="ack">body-parser</a>
            <a href="https://www.npmjs.com/package/ejs" class="ack">ejs</a>
            <a href="https://www.npmjs.com/package/serve-favicon" class="ack">serve-favicon</a>
            <a href="https://www.npmjs.com/package/validator" class="ack">validator</a>
            <a href="https://www.npmjs.com/package/nodemon" class="ack">nodemon</a>
            <a href="https://www.npmjs.com/package/string-similarity" class="ack">string-similarity</a>
        </div>

    </div>

    <%- include ("../partials/footer.ejs") %>
</body>
</html>