<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head.ejs") %>

    <title>Mnemosis | Create Game</title>
    <link rel="stylesheet" href="../../css/create_game.css">
</head>
<body>
    <script src="../../js/create_game_ready.js"></script>
    <%- include ("../partials/header.ejs") %>
    <div class="container mt-5 mb-5" id="main-box">
        <h2 class="subheading" style="text-align: center">Creating a Game</h2>
        <form>
            <div class="form-group">
                <label for="game_title" class="subheading">Game Title:</label>
                <input class="form-control subheading" type="text" placeholder="Your title" id="game_title">
            </div>
            <div class="form-group">
                <label for="game_description" class="subheading">Description:</label>
                <textarea class="form-control subheading" placeholder="Your description" id="game_description"></textarea>
            </div>
            <div class="form-group">
                <label for="game_duration" class="subheading">Game Duration (minutes):</label>
                <input class="subheading" type="number" id="game_duration" min="3" max="10">
            </div>
            <div class="form-group">
                <label for="genre-buttons" class="subheading">Genre(s):</label>
                <div id="genre-buttons" class="text-center">
                    <div class="btn-group" style="display: block; margin: auto">
                        <button type="button" id="filter-by-art" class="btn subheading bg-art">Art</button>
                        <button type="button" id="filter-by-business" class="btn subheading bg-business">Business</button>
                        <button type="button" id="filter-by-scitech" class="btn subheading bg-scitech">Science and Technology</button>
                        <button type="button" id="filter-by-general" class="btn subheading bg-general">General Knowledge</button>
                        <button type="button" id="filter-by-trivia" class="btn subheading bg-trivia">Trivia</button>
                        <button type="button" id="filter-by-sports" class="btn subheading bg-sports">Sports</button>
                        <button type="button" id="filter-by-others" class="btn subheading bg-others">Others</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="game_description" class="subheading">Image:</label>
                <input class="form-control subheading" type="file" id="game_image">
            </div>
            <div id="questions_form">
                <div class="form-inline row mb-1" id="form1">
                    <div class="col-2"><label class="subheading">Question 1:</label></div>
                    <div class="col-6"><input type="text" class="form-control subheading" size="60" placeholder="Your question" id="question1" name="question1"></div>
                    <div class="col-3"><input type="text" class="form-control subheading" size="25" placeholder="Your answer" id="answer1" name="answer1"></div>
                    <div class="col"><button type="button" class="btn btn-danger delete" id="delete1">&times;</button></div>
                </div>
                <div class="form-inline row mb-1" id="form2">
                    <div class="col-2"><label class="subheading">Question 2:</label></div>
                    <div class="col-6"><input type="text" class="form-control subheading" size="60" placeholder="Your question" id="question2" name="question2"></div>
                    <div class="col-3"><input type="text" class="form-control subheading" size="25" placeholder="Your answer" id="answer2" name="answer2"></div>
                    <div class="col"><button type="button" class="btn btn-danger delete" id="delete2">&times;</button></div>
                </div>
                <div class="form-inline row mb-1" id="form3">
                    <div class="col-2"><label class="subheading">Question 3:</label></div>
                    <div class="col-6"><input type="text" class="form-control subheading" size="60" placeholder="Your question" id="question3" name="question3"></div>
                    <div class="col-3"><input type="text" class="form-control subheading" size="25" placeholder="Your answer" id="answer3" name="answer3"></div>
                    <div class="col"><button type="button" class="btn btn-danger delete" id="delete3">&times;</button></div>
                </div>
                <div class="form-inline row mb-1" id="form4">
                    <div class="col-2"><label class="subheading">Question 4:</label></div>
                    <div class="col-6"><input type="text" class="form-control subheading" size="60" placeholder="Your question" id="question4" name="question4"></div>
                    <div class="col-3"><input type="text" class="form-control subheading" size="25" placeholder="Your answer" id="answer4" name="answer4"></div>
                    <div class="col"><button type="button" class="btn btn-danger delete" id="delete4">&times;</button></div>
                </div>
                <div class="form-inline row mb-1" id="form5">
                    <div class="col-2"><label class="subheading">Question 5:</label></div>
                    <div class="col-6"><input type="text" class="form-control subheading" size="60" placeholder="Your question" id="question5" name="question5"></div>
                    <div class="col-3"><input type="text" class="form-control subheading" size="25" placeholder="Your answer" id="answer5" name="answer5"></div>
                    <div class="col"><button type="button" class="btn btn-danger delete" id="delete5">&times;</button></div>
                </div>
                <div class="form-inline row mb-1" id="form6">
                    <div class="col-2"><label class="subheading">Question 6:</label></div>
                    <div class="col-6"><input type="text" class="form-control subheading" size="60" placeholder="Your question" id="question6" name="question6"></div>
                    <div class="col-3"><input type="text" class="form-control subheading" size="25" placeholder="Your answer" id="answer6" name="answer6"></div>
                    <div class="col"><button type="button" class="btn btn-danger delete" id="delete6">&times;</button></div>
                </div>
                <div class="form-inline row mb-1" id="form7">
                    <div class="col-2"><label class="subheading">Question 7:</label></div>
                    <div class="col-6"><input type="text" class="form-control subheading" size="60" placeholder="Your question" id="question7" name="question7"></div>
                    <div class="col-3"><input type="text" class="form-control subheading" size="25" placeholder="Your answer" id="answer7" name="answer7"></div>
                    <div class="col"><button type="button" class="btn btn-danger delete" id="delete7">&times;</button></div>
                </div>
                <div class="form-inline row mb-1" id="form8">
                    <div class="col-2"><label class="subheading">Question 8:</label></div>
                    <div class="col-6"><input type="text" class="form-control subheading" size="60" placeholder="Your question" id="question8"  name="question8"></div>
                    <div class="col-3"><input type="text" class="form-control subheading" size="25" placeholder="Your answer" id="answer8" name="answer8"></div>
                    <div class="col"><button type="button" class="btn btn-danger delete" id="delete8">&times;</button></div>
                </div>
                <div class="form-inline row mb-1" id="form9">
                    <div class="col-2"><label class="subheading">Question 9:</label></div>
                    <div class="col-6"><input type="text" class="form-control subheading" size="60" placeholder="Your question" id="question9" name="question9"></div>
                    <div class="col-3"><input type="text" class="form-control subheading" size="25" placeholder="Your answer" id="answer9" name="answer9"></div>
                    <div class="col"><button type="button" class="btn btn-danger delete" id="delete9">&times;</button></div>
                </div>
                <div class="form-inline row mb-1" id="form10">
                    <div class="col-2"><label class="subheading">Question 10:</label></div>
                    <div class="col-6"><input type="text" class="form-control subheading" size="60" placeholder="Your question" id="question10" name="question10"></div>
                    <div class="col-3"><input type="text" class="form-control subheading" size="25" placeholder="Your answer" id="answer10" name="answer10"></div>
                    <div class="col"><button type="button" class="btn btn-danger delete" id="delete10">&times;</button></div>
                </div>
                <div class="form-inline row justify-content-center">
                    <button type="button" class="btn btn-block" id="add_question">+</button>
                </div>
            </div>
            <div class="row"><div class="col-sm-12"><br></div></div>
            <button type="submit" class="btn btn-custom btn-block subheading" id="create_game" disabled>Create Game</button>
            <div class="row"><div class="col-sm-12"><br></div></div>
        </form>
    </div>

    <%- include ("../partials/footer.ejs") %>

    <script src="../../js/create_game.js"></script>
</body>
</html>