<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head.ejs") %>

    <title>Mnemosis | Create Game</title>
    <link rel="stylesheet" href="../../css/create_game.css">
</head>
<body>
    <%- include ("../partials/header.ejs") %>
    <div class="container mt-5 mb-5" id="main-box">
        <h2 class="subheading" style="text-align: center">Creating a Game</h2>
        <form action="create_game/create" method="post">
            <div class="form-group">
                <label for="game_title" class="subheading">Game Title:</label>
                <input class="form-control subheading" type="text" placeholder="Your title" id="game_title" name="title" required>
                <p id="game_title_error" class="error"><!--  titleError  --></p>
            </div>
            <div class="form-group">
                <label for="game_description" class="subheading">Description:</label>
                <textarea class="form-control subheading" placeholder="Your description" id="game_description" name="description" required></textarea>
                <p id="game_description_error" class="error"><!--  descriptionError  --></p>
            </div>
            <div class="form-group">
                <label for="game_duration" class="subheading">Game Duration (minutes):</label>
                <input class="subheading" type="number" id="game_duration" min="3" max="10" placeholder="*" name="time" required>
                <p id="game_duration_error" class="error"><!--  timeError  --></p>
            </div>
            <div class="form-group">
                <label for="genre-buttons" class="subheading">Genre(s):</label>
                <div id="genre-buttons" class="text-center">
                    <div class="btn-group" style="display: block; margin: auto">
                        <input type="checkbox" id="check-art" class="btn subheading bg-art genre" name="art" value="art"><label for="art" class="btn subheading bg-art ml-1 mr-4 genre" id="filter-by-art" >Art</label>
                        <input type="checkbox" id="check-business" class="btn subheading bg-business genre" name="business" value="business"><label for="business" class="btn subheading bg-business ml-1 mr-4 genre" id="filter-by-business">Business</label>
                        <input type="checkbox" id="check-scitech" class="btn subheading bg-scitech genre" name="scitech" value="scitech"><label for="scitech" class="btn subheading bg-scitech ml-1 mr-4 genre" id="filter-by-scitech">Science and Technology</label>
                        <input type="checkbox" id="check-history" class="btn subheading bg-history genre" name="history" value="history"><label for="history" class="btn subheading bg-history ml-1 mr-4 genre" id="filter-by-history">History</label>
                        <input type="checkbox" id="check-trivia" class="btn subheading bg-trivia genre" name="trivia" value="trivia"><label for="trivia" class="btn subheading bg-trivia ml-1 mr-4 genre" id="filter-by-trivia">Trivia</label>
                        <input type="checkbox" id="check-sports" class="btn subheading bg-sports genre" name="sports" value="sports"><label for="sports" class="btn subheading bg-sports ml-1 mr-4 genre" id="filter-by-sports">Sports</label>
                        <input type="checkbox" id="check-others" class="btn subheading bg-others genre" name="others" value="others"><label for="others" class="btn subheading bg-others ml-1 mr-4 genre" id="filter-by-others">Others</label>
                    </div>
                </div>
                <p id="genre_error" class="error"><!--  genreError  --></p>
            </div>
            <div id="questions_form">
                <div class="form-inline row mb-1" id="form1">
                    <div class="col-2"><label class="subheading">Question 1:</label></div>
                    <div class="col-6"><input type="text" class="form-control subheading question" size="60" placeholder="Your question" id="question1" name="question1" required></div>
                    <div class="col-3"><input type="text" class="form-control subheading answer" size="25" placeholder="Your answer" id="answer1" name="answer1" required></div>
                    <div class="col"><button type="button" class="btn btn-danger delete" id="delete1">&times;</button></div>
                </div>
                <div class="form-inline row mb-1" id="form2">
                    <div class="col-2"><label class="subheading">Question 2:</label></div>
                    <div class="col-6"><input type="text" class="form-control subheading question" size="60" placeholder="Your question" id="question2" name="question2" required></div>
                    <div class="col-3"><input type="text" class="form-control subheading answer" size="25" placeholder="Your answer" id="answer2" name="answer2" required></div>
                    <div class="col"><button type="button" class="btn btn-danger delete" id="delete2">&times;</button></div>
                </div>
                <div class="form-inline row mb-1" id="form3">
                    <div class="col-2"><label class="subheading">Question 3:</label></div>
                    <div class="col-6"><input type="text" class="form-control subheading question" size="60" placeholder="Your question" id="question3" name="question3" required></div>
                    <div class="col-3"><input type="text" class="form-control subheading answer" size="25" placeholder="Your answer" id="answer3" name="answer3" required></div>
                    <div class="col"><button type="button" class="btn btn-danger delete" id="delete3">&times;</button></div>
                </div>
                <div class="form-inline row mb-1" id="form4">
                    <div class="col-2"><label class="subheading">Question 4:</label></div>
                    <div class="col-6"><input type="text" class="form-control subheading question" size="60" placeholder="Your question" id="question4" name="question4" required></div>
                    <div class="col-3"><input type="text" class="form-control subheading answer" size="25" placeholder="Your answer" id="answer4" name="answer4" required></div>
                    <div class="col"><button type="button" class="btn btn-danger delete" id="delete4">&times;</button></div>
                </div>
                <div class="form-inline row mb-1" id="form5">
                    <div class="col-2"><label class="subheading">Question 5:</label></div>
                    <div class="col-6"><input type="text" class="form-control subheading question" size="60" placeholder="Your question" id="question5" name="question5" required></div>
                    <div class="col-3"><input type="text" class="form-control subheading answer" size="25" placeholder="Your answer" id="answer5" name="answer5" required></div>
                    <div class="col"><button type="button" class="btn btn-danger delete" id="delete5">&times;</button></div>
                </div>
                <div class="form-inline row justify-content-center">
                    <button type="button" class="btn btn-block" id="add_question">+</button>
                </div>
            </div>    
            <p id="questions_form_error" class="error"></p>
            <div class="row"><div class="col-sm-12"><br></div></div>
            <input type="submit" class="btn btn-custom btn-block subheading" id="create_game" value="Create Game" disabled>
            <div class="row"><div class="col-sm-12"><br></div></div>
        </form>
    </div>

    <%- include ("../partials/footer.ejs") %>

    <script src="../../js/create_game.js"></script>
    <script src="/js/validator.min.js" type="text/javascript"></script>
</body>
</html>