<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head.ejs") %>

    <title>Mnemosis | Home</title>
    <link rel="stylesheet" href="../../css/homepage.css">
</head>
<body>
    <%- include ("../partials/header.ejs") %>
    <div class="container mt-5 mb-5" id="main-box">
        <h1 class="heading" style="text-align: center; font-size: 100px">error</h1>
        <h3 class="subheading" style="text-align: center">
            404 <br> page not found
        </h3>
        <br><br>
        <a class="btn btn-custom btn-block" href="/homepage">go to homepage</a>
    </div>

    <%- include ("../partials/footer.ejs") %>

    <script src="../../js/homepage.js"></script>
</body>
</html>