<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head.ejs") %>

    <title>Mnemosis | One Game at a Time</title>
    <link rel="stylesheet" href="../../css/login_and_register.css">
</head>
<body>
    <div class="container mt-5" id="header">
        <a href="homepage" id="header-div">
            <div class="row">
                <div class="col-4">
                    <img src="../../media/Logo%20Full.png" class="logo">
                </div>
                <div class="col-8" id="titles">
                    <h1 id="web-title">Mnemosis</h1>
                    <h4 id="web-subtitle">One Game at a Time</h4>
                </div>
            </div>
        </a>
    </div>

    <div class="container" id="startup-box">
        <div class="row">
            <div class="col-sm-5" id="login-box">
                <h2 class="heading">log-in</h2>

                <!-- line break -->

                <div class="row"><div class="col-sm-12"><br></div></div>

                <form>
                    <div class="form-group">
                        <label for="email-login" class="subheading">Email address:</label>
                        <input type="email" class="form-control subheading" placeholder="Your email address" id="email-login">
                    </div>
                    <div class="form-group">
                        <label for="password-login" class="subheading">Password:</label>
                        <input type="password" class="form-control subheading" placeholder="Your password" id="password-login">
                    </div>

                    <div class="row"><div class="col-sm-12"><br></div></div>
                    <button type="submit" class="btn btn-custom btn-block subheading" id="submit-login" disabled>Log-in</button>
                    <div class="row"><div class="col-sm-12"><br></div></div>

                    <p class="subheading" style="text-align: center; margin-bottom: 0">----------- or -----------</p>
                    <div class="row"><div class="col-sm-12"><br></div></div>
                </form>
                <a href="homepage" class="btn btn-custom btn-block subheading" role="button">Continue as guest</a>
            </div>
            <div class="col-sm-7" id="register-box">
                <h2 class="heading">register</h2>

                <div class="row"><div class="col-sm-12"><br></div></div>

                <form>
                    <div class="form-row form-group">
                        <div class="col">
                            <label for="fname" class="subheading">First name:</label>
                            <input type="text" class="form-control subheading" placeholder="Your first name" id="fname">
                        </div>
                        <div class="col">
                            <label for="lname" class="subheading">Last name:</label>
                            <input type="text" class="form-control subheading" placeholder="Your last name" id="lname">
                        </div>
                    </div>
                    <div class="form-row form-group">
                        <div class="col">
                            <label for="bday" class="subheading">Birthday:</label>
                            <input type="date" class="form-control subheading" id="bday">
                        </div>
                        <div class="col">
                            <label for="gender" class="subheading">Gender:</label>
                            <select class="form-control subheading" id="gender">
                                <option selected disabled>Your gender</option>
                                <option>Male</option>
                                <option>Female</option>
                                <option>Prefer not to say</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email-register" class="subheading">Email address:</label>
                        <input type="email" class="form-control subheading" placeholder="Your email address" id="email-register">
                    </div>
                    <div class="form-row form-group">
                        <div class="col">
                            <label for="password-register" class="subheading">Password:</label>
                            <input type="password" class="form-control subheading" placeholder="Your password" id="password-register">
                        </div>
                        <div class="col">
                            <label for="cpass" class="subheading">Confirm password:</label>
                            <input type="password" class="form-control subheading" placeholder="Password confirmation" id="cpass">
                        </div>
                    </div>

                    <div class="row"><div class="col-sm-12"><br></div></div>

                    <div class="form-row form-group">
                        <div class="col"><input type="submit" class="btn btn-custom btn-block subheading" disabled id="submit-register"></div>
                        <div class="col"><input type="reset" class="btn btn-custom btn-block subheading" id="reset-register"></div>
                    </div>
                    <div class="row"><div class="col-sm-12"><br></div></div>
                </form>

            </div>
        </div>
    </div>

    <%- include ("../partials/footer.ejs") %>

    <script src="../../js/login_and_register.js"></script>
</body>
</html>