<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head.ejs") %>

    <title>Mnemosis | Play</title>
    <link rel="stylesheet" href="../../css/play_game.css">
</head>
<body>
    <%- include ("../partials/header.ejs") %>
    <div class="container">
        <div class="navbar navbar-custom" id="navbar-main">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <form class="form-inline">

                        <input class="form-control subheading mr-3 mt-0" type="text" placeholder="Search for a game or category here" style="width: 400px" id="search-box">
                        <button type="button" class="btn btn-custom mr-3" id="search-btn">Search</button>
                        <div style="border-left: 2.5px solid; border-left-color: #3CACAE; height: 50px"></div>
                        <a href="view_games" class="btn btn-custom ml-3">View all games</a>

                    </form>
                </li>
            </ul>
            <div class="dropdown">
                <a href="#" data-toggle="dropdown">
                    <img src="../../media/Icon.png" id="user-icon">
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <h1 class="dropdown-header subheading">For logged-in users</h1> <!-- to be removed -->
                    <a href="view_profile_self" class="dropdown-item subheading">View Profile</a>
                    <a href="create_game" class="dropdown-item subheading">Create a Game</a>
                    <a href="login_and_register" class="dropdown-item subheading">Log-out</a>
                    <h1 class="dropdown-header subheading">For guests</h1> <!-- to be removed -->
                    <a href="login_and_register" class="dropdown-item subheading">Log-in</a>
                    <a href="login_and_register" class="dropdown-item subheading">Register</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5 mb-5" id="main-box">
        <h2 class="heading">First 10 Pokemon</h2>
        <img src="../../media/Sample%20Images/High%20Sierra-min.jpg" style="width: 100%; height: auto">
        <h3 class="subheading">Can you name the first 10 Kanto Pokemons in 3 minutes?</h3>
        <p class="subheading">Created by: <a href="view_profile_user">ashketchup</a></p>

        <div class="row" id="controls" style="display: flex; justify-content: center; align-items: center">
            <div class="col-sm-8" id="start-btn">
                <button class="btn btn-custom btn-block subheading">Start Game</button>
            </div>
            <div class="col-sm-4" id="pause">
                <button class="btn btn-custom btn-block subheading">Pause</button>
            </div>
            <div class="col-sm-4" id="give-up">
                <button class="btn btn-custom btn-block subheading">Give up</button>
            </div>
            <div class="col-sm-4">
                <div class="heading" id="clock-holder" style="text-align: center; font-size: 100px">03:00</div>
            </div>
        </div>

        <table class="table table-custom subheading mt-4 mb-4" style="text-align: center" id="game">
            <thead>
                <th>Questions</th>
                <th>Answers</th>
            </thead>
            <tbody>
                <tr>
                    <td class="question-holder">#001</td>
                    <td><input type="text" size="100%" class="form-control answer-holder" disabled placeholder="Your answer"></td>
                </tr>
                <tr>
                    <td class="question-holder">#002</td>
                    <td><input type="text" class="form-control answer-holder" disabled placeholder="Your answer"></td>
                </tr>
                <tr>
                    <td class="question-holder">#003</td>
                    <td><input type="text" class="form-control answer-holder" disabled placeholder="Your answer"></td>
                </tr>
                <tr>
                    <td class="question-holder">#004</td>
                    <td><input type="text" class="form-control answer-holder" disabled placeholder="Your answer"></td>
                </tr>
                <tr>
                    <td class="question-holder">#005</td>
                    <td><input type="text" class="form-control answer-holder" disabled placeholder="Your answer"></td>
                </tr>
                <tr>
                    <td class="question-holder">#006</td>
                    <td><input type="text" class="form-control answer-holder" disabled placeholder="Your answer"></td>
                </tr>
                <tr>
                    <td class="question-holder">#007</td>
                    <td><input type="text" class="form-control answer-holder" disabled placeholder="Your answer"></td>
                </tr>
                <tr>
                    <td class="question-holder">#008</td>
                    <td><input type="text" class="form-control answer-holder" disabled placeholder="Your answer"></td>
                </tr>
                <tr>
                    <td class="question-holder">#009</td>
                    <td><input type="text" class="form-control answer-holder" disabled placeholder="Your answer"></td>
                </tr>
                <tr>
                    <td class="question-holder">#010</td>
                    <td><input type="text" class="form-control answer-holder" disabled placeholder="Your answer"></td>
                </tr>
            </tbody>
        </table>

        <a href="view_leaderboard" class="btn btn-custom btn-block">View leaderboard</a>
    </div>

    <%- include ("../partials/footer.ejs") %>

    <script src="../../js/play_game.js"></script>
</body>
</html>