<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head.ejs") %>

    <title>Mnemosis | Leaderboard</title>
    <link rel="stylesheet" href="../../css/view_leaderboard.css">
</head>
<body>
    <%- include ("../partials/header.ejs") %>
    <div class="container">
        <div class="navbar navbar-custom" id="navbar-main">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <form class="form-inline">

                        <input class="form-control subheading mr-3 mt-0" type="text" placeholder="Search for a game or category here" style="width: 400px" id="search-box">
                        <button type="button" class="btn btn-custom mr-3" id="search-btn">Search</button>
                        <div style="border-left: 2.5px solid; border-left-color: #3CACAE; height: 50px"></div>
                        <a href="view_games" class="btn btn-custom ml-3">View all games</a>

                    </form>
                </li>
            </ul>
            <div class="dropdown">
                <a href="#" data-toggle="dropdown">
                    <img src="../../media/Icon.png" id="user-icon">
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <h1 class="dropdown-header subheading">For logged-in users</h1> <!-- to be removed -->
                    <a href="view_profile_self" class="dropdown-item subheading">View Profile</a>
                    <a href="create_game" class="dropdown-item subheading">Create a Game</a>
                    <a href="login_and_register" class="dropdown-item subheading">Log-out</a>
                    <h1 class="dropdown-header subheading">For guests</h1> <!-- to be removed -->
                    <a href="login_and_register" class="dropdown-item subheading">Log-in</a>
                    <a href="login_and_register" class="dropdown-item subheading">Register</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5 mb-5" id="main-box">
        <h2 class="heading">First 10 Pokemon</h2>
        <img src="../../media/Sample%20Images/1.jpg" style="width: 100%; height: auto">
        <h3 class="subheading">Can you name the first 10 Kanto Pokemons in 3 minutes?</h3>
        <p class="subheading">Created by: <a href="view_profile_user">ashketchup</a></p>

        <h2 class="subheading" style="text-align: center">Leaderboard</h2>

        <table class="table table-custom table-striped subheading mt-4 mb-4" style="text-align: center" id="game">
            <thead>
            <th colspan="7">Users</th>
            <th colspan="2">Accuracy</th>
            <th colspan="2">Time</th>
            </thead>
            <tbody>
                <tr>
                    <td colspan="7" class="users"><a href="view_profile_user">thebrock</a></td>
                    <td colspan="2" class="accuracy">100%</td>
                    <td colspan="2" class="time">1:30</td>
                </tr>
                <tr>
                    <td colspan="7" class="users"><a href="view_profile_user">chari12</a></td>
                    <td colspan="2" class="accuracy">100%</td>
                    <td colspan="2" class="time">2:28</td>
                </tr>
                <tr>
                    <td colspan="7" class="users"><a href="view_profile_user">binatog00</a></td>
                    <td colspan="2" class="accuracy">100%</td>
                    <td colspan="2" class="time">2:58</td>
                </tr>
                <tr>
                    <td colspan="7" class="users"><a href="view_profile_user">byronnill</a></td>
                    <td colspan="2" class="accuracy">90%</td>
                    <td colspan="2" class="time">3:00</td>
                </tr>
                <tr>
                    <td colspan="7" class="users"><a href="view_profile_user">niellua</a></td>
                    <td colspan="2" class="accuracy">70%</td>
                    <td colspan="2" class="time">3:00</td>
                </tr>
                <tr>
                    <td colspan="7" class="users"><a href="view_profile_user">poochy</a></td>
                    <td colspan="2" class="accuracy">70%</td>
                    <td colspan="2" class="time">3:00</td>
                </tr>
                <tr>
                    <td colspan="7" class="users"><a href="view_profile_user">gamora66</a></td>
                    <td colspan="2" class="accuracy">60%</td>
                    <td colspan="2" class="time">3:00</td>
                </tr>
                <tr>
                    <td colspan="7" class="users"><a href="view_profile_user">n4k0p0</a></td>
                    <td colspan="2" class="accuracy">50%</td>
                    <td colspan="2" class="time">3:00</td>
                </tr>
                <tr>
                    <td colspan="7" class="users"><a href="view_profile_user">locodoc</a></td>
                    <td colspan="2" class="accuracy">50%</td>
                    <td colspan="2" class="time">3:00</td>
                </tr>
                <tr>
                    <td colspan="7" class="users"><a href="view_profile_user">gyges443</a></td>
                    <td colspan="2" class="accuracy">50%</td>
                    <td colspan="2" class="time">3:00</td>
                </tr>
            </tbody>
        </table>
        <a href="play_game"class="btn btn-custom btn-block">Back to Game</a>

    </div>

    <%- include ("../partials/footer.ejs") %>

    <script src="js/view_leaderboard.js"></script>
</body>
</html>